# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2024 Silicon Laboratories Inc. (www.silabs.com)

[D-BUS Service]
Name=com.silabs.Wisun.BorderRouter
Exec=/bin/false
User=root
SystemdService=wisun-borderrouter.service
