# SPDX-License-Identifier: Apache-2.0

[D-BUS Service]
Name=com.silabs.Wisun.BorderRouter
Exec=/bin/false
User=root
SystemdService=wisun-borderrouter.service
