[Unit]
Description=Wi-SUN Border Router service for the Wi-SUN Test Bed Unit
Documentation=file:///usr/local/share/doc/wsbrd/examples/wsbrd.conf

[Service]
BusName=com.silabs.Wisun.BorderRouter
ExecStart=/usr/local/bin/wsbrd -F /etc/wsbrd.conf -D
TimeoutSec=10
