[Unit]
Description=DHCPv6 relay service for the Wi-SUN Border Router Test Bed Unit
Requires=wisun-borderrouter.service
After=wisun-borderrouter.service

[Service]
EnvironmentFile=/etc/wstbu-dhcpv6-relay.conf
# The border router's unicast IPv6 address is not known in advance, so a
# wrapper script is used to launch Dnsmasq.
ExecStart=wstbu-dhcpv6-relay $dhcpv6_server
